
<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-button (click) = "goBack()"> X </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding >

  <ion-slides class="slider" pager="true" >
    <ion-slide>
      <div >

        <h3>You have successfully added the {{passedId}} class!</h3>

        <h4> Slide to get started </h4>
     </div>


    </ion-slide>
    <ion-slide>
      <div>
        <h3>Download vTime</h3>
        <img href = "https://itunes.apple.com/us/app/vtime-xr-social-ar-vr/id1047740411?mt=8" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/61/VTime_Logo.png/220px-VTime_Logo.png">
     </div>
    </ion-slide>
     <ion-slide>


      <div> <h3> Add Royce Chan on vTime </h3>
           <img src="https://images1-fabric.practo.com/554ae5275874498f13708210194c475687be6106a3b84.jpg/thumbnail">

      </div>
    </ion-slide>

     <ion-slide>


      <div> <h3> Accept invitation on scheduled time  </h3>
        <img src="https://cdn0.iconfinder.com/data/icons/feather/96/clock-512.png">
      </div>
    </ion-slide>
  </ion-slides>




<!-- <ion-item>
  <ion-thumbnail slot="end">
    <img href = "https://itunes.apple.com/us/app/vtime-xr-social-ar-vr/id1047740411?mt=8" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/61/VTime_Logo.png/220px-VTime_Logo.png">
  </ion-thumbnail>
  <ion-label text-wrap>
    <ion-text color="primary">
      <h3>Getting Started</h3>
    </ion-text>
    <ol type="1">
          <li> Download vTime</li>
         <li> Add Royce Chan on vTime</li>
          <li> Accept invitation on scheduled time </li>
        </ol> 
    
  </ion-label>
  
</ion-item> -->

<!--   <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" (click) = "cancelBtn()">Cancel Booking</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid> -->
</ion-content>
