
<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-button (click) = "goBack()"> X </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label text-wrap>
      <ion-text color="primary">
        <h3>You have successfully added the {{passedId}} class!</h3>
      </ion-text>
      <p>In this class, you will be able to talk to others about an experience regarding anxiety. One will be able to connect with others who have had similar experiences.</p>
    </ion-label>
  </ion-item>




<ion-item>
  <ion-thumbnail slot="end">
    <img href = "https://itunes.apple.com/us/app/vtime-xr-social-ar-vr/id1047740411?mt=8" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/61/VTime_Logo.png/220px-VTime_Logo.png">
  </ion-thumbnail>
  <ion-label text-wrap>
    <ion-text color="primary">
      <h3>Getting Started</h3>
    </ion-text>
    <ol type="1">
          <li> Download vTime</li>
         <li> Add Royce Chan on vTime</li>
          <li> Accept invitation on scheduled time </li>
        </ol> 
    
  </ion-label>
  
</ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" (click) = "cancelBtn()">Cancel Booking</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
</ion-content>
