<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://t3.ftcdn.net/jpg/00/98/55/68/240_F_98556851_bNs5xrtZ0pWG7i9Lj9lL88SVJOnBkAmC.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Welcome to VR Group Therapy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      	<ion-card-subtitle>Get Started</ion-card-subtitle>
        <p>Take a free mental health screening</p>
        <ion-button expand="full" (click)="goTest()"> Take Test! </ion-button>

        <p>Or browse thousands of sessions available </p>

      </ion-card-content>
    </ion-card>




     <ion-card class="class-card" >
    <ion-card-content>

          <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://images1-fabric.practo.com/554ae5275874498f13708210194c475687be6106a3b84.jpg/thumbnail">
              </ion-thumbnail>
              <ion-label>
                <h2>Preventing Anxiety</h2>
                <p>Tues/Thurs 8:00am </p>
              </ion-label>
              <ion-button fill="outline" slot="end" (click)="btnClicked()">View</ion-button>
          </ion-item>

          <ion-item slot="start" text-wrap>
            Dr. Royce Chan
          </ion-item>
      </ion-card-content>
    </ion-card>


     <ion-card class="welcome-card">
    <ion-card-content>

          <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://images1-fabric.practo.com/554af299e008b57aeee35c98205091e18d1140e9f38cf.jpg">
              </ion-thumbnail>
              <ion-label>
                <h2>General Health and Welness</h2>
                <p>Button on right</p>
              </ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
      </ion-card-content>
    </ion-card>


     <ion-card class="class-card">
    <ion-card-content>

          <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://images1-fabric.practo.com/dr-josefino-hernandez-1454412691-56b093933ede1.jpg/thumbnail">
              </ion-thumbnail>
              <ion-label>
                <h2>Overcoming Depression</h2>
                <p>Button on right</p>
              </ion-label>

              <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
      </ion-card-content>
    </ion-card>


     <ion-card class="class-card" >
    <ion-card-content>

          <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://images1-fabric.practo.com/552f5a1499e8601afcfaa6da35faaa3580f25928f53bc.jpg/thumbnail">
              </ion-thumbnail>
              <ion-label>
                <h2>Dealing With Loss or Grief</h2>
                <p>Button on right</p>
              </ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
          </ion-item>
      </ion-card-content>
    </ion-card>

     





</ion-content>
