.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.image img {
    width: auto;
    max-width: 100%;
    float: right;
    height: auto;
    max-height: 100%;
}

.class-card
{
	display: flex;
	flex-direction: column;
	width: 100% !important;
	margin: 0 !important
}