<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"> </ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-item class="avatar">
          <ion-avatar>
            <img src="{{ myphoto }}" width="50%" height="50%" alt="Registration Image">
          </ion-avatar>
        </ion-item>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button color="medium" (click)="getImage()">
        Change Profile Picture
      </ion-button>
    </ion-row>
  </ion-grid>

  <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>Name</h3>
              </ion-text>
              <p>{{ name }}
  
              </p>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-button right>
              Change
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
  <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label text-wrap>
              <ion-text color="primary">
                <h3>Username</h3>
              </ion-text>
              <p>{{ username }}
  
              </p>
            </ion-label>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button right>
              Change
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label text-wrap>
            <ion-text color="primary">
              <h3>Birthday</h3>
            </ion-text>
            <p>{{ bday }}

            </p>
          </ion-label>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-button right>
            Change
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item>





</ion-content>