<ion-header>
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button (click)="back()"> </ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label text-wrap>
      <ion-text color="primary">
        <h3>About Preventing Anxiety Class</h3>
      </ion-text>
      <p>In this class, you will be able to talk to others about an experience regarding anxiety. One will be able to connect with others who have had similar experiences.</p>
    </ion-label>
  </ion-item>


<ion-grid>
  <ion-row>
    <ion-col>  
    </ion-col>
    <ion-col>      
         <img src="https://images1-fabric.practo.com/554ae5275874498f13708210194c475687be6106a3b84.jpg/thumbnail">
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-item>
    <ion-label text-wrap>
      <ion-text color="primary">
        <h3> Meet the Instructor </h3>
      </ion-text>
      <p>My name is Royce Chan and I have over 10 years of experience as a therapist. I graduated with my Ph.D from UCLA in Psychology. My passion is to help those overcome negative experience that they may have had with anxiety.</p>
    </ion-label>
  </ion-item>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button shape="round" fill="outline" (click) = "loadData()">Ask a Question</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" fill="outline" (click)="enrollClass()">Enroll</ion-button>
    </ion-col>
  </ion-row>
 </ion-grid>

</ion-content>
