<ion-header>
  <ion-toolbar>
  	<ion-buttons slot = "start">
  		<ion-back-button defaultHref="/"> </ion-back-button>
  	</ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>


<ion-grid>
  <ion-row>
    <ion-col>
    	<button ion-button full color="menu-o" class="squareButton"(click)="goDepressionTest()">
		    <div>
		        <label>Depression Test</label>
		    </div>
		</button>
    </ion-col>

    <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Anxiety Test</label>
		    </div>
		</button>
    </ion-col>
    
    <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Bipolar Test</label>
		    </div>
		</button>
    </ion-col>
    
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
       <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label> Sexual Harrassment Victim</label>
		    </div>
		</button>
    </ion-col>
    
       <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Addiction</label>
		    </div>
		</button>
    </ion-col>
    
        <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Eating disorder</label>
		    </div>
		</button>
    </ion-col>
    
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
        <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>PTSD Test</label>
		    </div>
		</button>
    </ion-col>
    
       <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Work Health Survey</label>
		    </div>
		</button>
    </ion-col>
    
        <ion-col>
    	<button ion-button full color="menu-o" class="squareButton">
		    <div>
		        <label>Psychosis Test</label>
		    </div>
		</button>
    </ion-col>
    
  </ion-row>
</ion-grid>


</ion-content>